.navbar {
    background-color: #1f1f20; 
    text-align: center;
    padding: 20px 0;
}



.menu {
    list-style: none;
    padding: 0;
}



.menu li {
    display:inline;
    margin-right: 20px; 
}



.menu a {
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
    transition: color 0.3s ease-in-out; 
}

.menu a:hover {
    color: #3391f5; 
}

.menu i {
    margin-left: 8px; 
    font-size: 20px;
}
